@charset "utf-8";
/*

Author: Esther Obieme
Date: 1/2/2023

*/


body{
    background-color: rgb(26, 43, 118);
    color: rgb(218, 204, 204);
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}

p.a{
    text-align-last: center;
}

