@charset "utf-8";
/*

Author: Esther Obieme
Date: 1/2/2023

*/


body{
  background-image: url("Background.jpg");
    color: rgb(218, 204, 204);
    font-family: 'Times New Roman';
    
}

a:visited {
    color: rgb(132, 196, 132);
  }
a:hover {
    color: #ff002b;
  }

.homeimgleft {
    display: block;
    margin-left: 100%;
    margin-right: auto;
    width: 30%;
  }

h2{
    text-align-last:center;
}
p.a{
    text-align-last: left;
}


